<app-header [mainTitle]="'Users List'"></app-header>

<div class="container py-5">
  <div class="row">
    <div [ngClass]="showUser ? 'col-lg-9 col-md-8 pe-md-0' : 'col-12'">
      <div class="table-wrapper" [ngClass]="showUser ? 'viewMode' : ''">
        <!-- table of users list -->
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of usersList; let i = index"
              (click)="openUserView(user, i)"
              [class.selected]="selectedRow === i"
            >
              <td>
                <div class="d-flex align-items-center">
                  <img
                    [src]="user?.avatar || 'https://via.placeholder.com/150'"
                    alt=""
                  />
                  <div>
                    <span>{{
                      user.first_name ? user.first_name : "first"
                    }}</span>
                    <span class="px-1">{{
                      user.last_name ? user.last_name : "last"
                    }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div
                  [ngClass]="showUser ? 'justify-content-end' : ''"
                  class="d-flex"
                >
                  <button
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    (click)="getSelectedUser(user, $event)"
                  >
                    <i class="icon-icons8-edit"></i>
                  </button>
                  <button
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    (click)="getSelectedUser(user, $event)"
                  >
                    <i class="icon-icons8-delete"></i>
                  </button>
                  <button>
                    <i class="icon-chevron-thin-right"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="loadMore" *ngIf="loading">
          <img src="assets/images/icons8-spinner_frame_1.svg" alt="" />
          <p>Loading More Users</p>
        </div>
      </div>
    </div>
    <!-- view of single selected user -->
    <div
      [ngClass]="
        showUser ? 'col-lg-3 ps-md-0  col-md-4 user-card-responsive' : 'd-none'
      "
      *ngIf="showUser"
    >
      <app-view-user
        (closeView)="closeViewMode($event)"
        [userId]="userID"
      ></app-view-user>
    </div>
  </div>
</div>


<!-- add/edit modal -->
<app-add-edit-modal
  [modalId]="'editModal'"
  [actionType]="'Save'"
  [user]="selectedUser"
>
</app-add-edit-modal>


<!-- delete modal -->
<app-delete-modal
  [modalId]="'deleteModal'"
  [user]="selectedUser"
  (userDeleted)="onUserDeleted($event)"
>
</app-delete-modal>
