<div class="header_container">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-end">
        <div class="header_container__leftSide">
          <!-- header breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/dashboard'">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Dashboard
              </li>
            </ol>
          </nav>
          <!-- header main title -->
          <p>{{ mainTitle }}</p>
        </div>
        <!-- add new user part -->
        <div class="header_container__rightSide">
          <button
            class="btn btn-primary add_user"
            data-bs-toggle="modal"
            data-bs-target="#addModal"
          >
            + New User
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-edit-modal [modalId]="'addModal'" [actionType]="'Add'">
</app-add-edit-modal>
