@import "assets/scss/_variables.scss";
@import "assets/scss/_extends.scss";
@import "assets/scss/_forms.scss";
@import "assets/scss/_fonts.scss";
@import "assets/scss/_icons.scss";

* {
  box-sizing: border-box;
  font-family: ".SF NS Display regular" !important;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}
